@model AdswerveMVCDemoAdriaanCroucamp.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center">Book Details</h2>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Book</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Author)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Quantity_Available)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Quantity_Available)
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-left mt-3">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Book_Id }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-secondary" })
    </div>
</div>
